vendor/
node_modules/
npm-debug.log

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

Gemfile.lock

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore Byebug command history file.
.byebug_history

#secret config file
/config/oauth.yml

# IntelliJ settings
/.idea/*
/.idea
/FRONTEND/node_modules/*
/FRONTEND/node_modules
/FRONTEND/package-lock.json

/.DS_Store
/app/.DS_Store
/app/assets/.DS_Store
