@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.woff2") format("woff2"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
      display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    display: block;
}

.flaticon-001-battery:before { content: "\f100"; }
.flaticon-002-bill:before { content: "\f101"; }
.flaticon-003-call-center:before { content: "\f102"; }
.flaticon-004-car-service:before { content: "\f103"; }
.flaticon-005-car-radio:before { content: "\f104"; }
.flaticon-006-car-repair:before { content: "\f105"; }
.flaticon-007-car-service:before { content: "\f106"; }
.flaticon-008-crane-truck:before { content: "\f107"; }
.flaticon-009-crane-truck:before { content: "\f108"; }
.flaticon-010-car-wash:before { content: "\f109"; }
.flaticon-011-repair:before { content: "\f10a"; }
.flaticon-012-repair:before { content: "\f10b"; }
.flaticon-013-electric-car:before { content: "\f10c"; }
.flaticon-014-shift:before { content: "\f10d"; }
.flaticon-015-repair:before { content: "\f10e"; }
.flaticon-016-invoice:before { content: "\f10f"; }
.flaticon-017-car-key:before { content: "\f110"; }
.flaticon-018-mechanic:before { content: "\f111"; }
.flaticon-019-maintenance:before { content: "\f112"; }
.flaticon-020-maintenance:before { content: "\f113"; }
.flaticon-021-jerrycan:before { content: "\f114"; }
.flaticon-022-protection:before { content: "\f115"; }
.flaticon-023-protection:before { content: "\f116"; }
.flaticon-024-protection:before { content: "\f117"; }
.flaticon-025-car:before { content: "\f118"; }
.flaticon-026-mechanic:before { content: "\f119"; }
.flaticon-027-speedometer:before { content: "\f11a"; }
.flaticon-028-steering-wheel:before { content: "\f11b"; }
.flaticon-029-car:before { content: "\f11c"; }
.flaticon-030-tire:before { content: "\f11d"; }